USER_INSTALL_DIR=/opt/AccuRev
HOST_NAME_INPUT=172.22.200.143
HOST_PORT_INPUT=5050
ADD_TO_PATH_INPUT_RESULTS=Yes
-fileOverwrite_/opt/AccuRev/bin/UninstallerData/Uninstall AccuRev.lax=Yes
-fileOverwrite_/opt/AccuRev/bin/acgui.lax=Yes
-fileOverwrite_/opt/AccuRev/bin/acdiffgui.lax=Yes
-fileOverwrite_/opt/AccuRev/bin/acclient.cnf=Yes
-fileOverwrite_/opt/AccuRev/LICENSE=Yes